Exercise 2:

# Data Science Tools and Ecosystem

Exercise 3:

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 continued:

**Objectives:**
- List popular data science languages
- List common data science libraries
- Identify some popular data science environment tools
- Show examples of evaluating arithmetic expressions in Python

Exercise 4:

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C (or any related version e.g. C++, C#)
5. MATLAB
6. Java

Exercise 5:

Some of the commonly used libraries used by Data Scientists include:
1. SciKit-learn
2. TensorFlow
3. Pytorch
4. Keras
5. Pandas
6. SciPy
7. NumPy
8. Matplotlib

Exercise 6:

| Data Science Tools |
| ------------------ |
|Visual Studio Code|
|Jupyter Labs/Notebooks|
|Anaconda|

Exercise 7:

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
2+2

4

In [2]:
2/2

1.0

In [3]:
2*2

4

In [4]:
2-2

0

Exercise 8:

In [6]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

Exercise 9:

In [14]:
# This will convert 200 minutes to hours by dividing by 60
print("%.2f"%(200/60),"Hours")

3.33 Hours

Exercise 10:

See below Exercise 3

Exercise 11:

## Author
Baron Gracias

Exercise 12:

Uploaded to GitHub

Exercise 13:

Screenshot of first page of notebook